
// tema1
$theme-1-bg: #fff;
$theme-1-cl: #49213e;
$theme-1-bd: 2px solid #49213e;

$theme-1-bghover: #49213e;
$theme-1-clhover: #fff;

// tema2

$theme-2-bg: #fff;
$theme-2-cl: #000;
$theme-2-bd: 2px solid #000;

$theme-2-bghover: #000;
$theme-2-clhover: #fff;

// tema3

$theme-3-bg: #fff;
$theme-3-cl: #d77b18;
$theme-3-bd: 2px solid #d77b18;

$theme-3-bghover: #d77b18;
$theme-3-clhover: #fff;