

nav{
	width: 500px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	 

	.nav-brand{
		display: flex;
		justify-content: space-around;
		align-items: center; 
		font-size: 2.0rem; 
		margin: 0;
		@extend %component;  
	}
 
	ul {
		list-style: none;
		display: flex;
		align-items: center; 

		li{ 
			display: inline-block;

			.nav-list{
				font-size: 1.0rem;
				padding: 20px;
				text-transform: uppercase;
				@extend %component;
			}
		}
	}
}